In [10]:
import pandas as pd
# https://www.youtube.com/watch?v=YnggjqAfZCU

In [17]:
data_frame = pd.read_excel("data/data.xlsx", dtype={"fips": str})

In [18]:
data_frame.head()

,District,Headquarters,Population (2011),Area (km²)[3],Density (/km²),Enforced Disappearances/Extrajudicial Executions,Extrajudicial Executions,Enforced Disappearances
0,Amritsar,AM,2490891.0,2647.0,932.0,1641.0,1434.0,207
1,Barnala,BNL,596294.0,1410.0,419.0,68.0,45.0,23
2,Bathinda,BA,1388859.0,3385.0,414.0,140.0,90.0,50
3,Faridkot,FR,618008.0,1469.0,424.0,62.0,52.0,10
4,Fatehgarh Sahib,FT,599814.0,1180.0,508.0,47.0,37.0,10